<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1>
        <p>Welcome to GitPub</p>
    </h1>
    <ul>
        <!-- create a loop to display allDrinks and their names, like we did for fruits in class -->
        <!-- accidentally did this part too early for the markdown, but this connects the index and show pages. it all functions -->
        <% for (let i = 0; i < allDrinks.length; i++) { %>
            <li>
                <a href="/drinks/<%=i%>"><%=allDrinks[i].name %></a>
            </li>
       <% } %>
       
    </ul>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
/* adding list transform text to capitalize drink names. shoutout to ryan and help channel */
        li {
            text-transform: capitalize;
        }
        /* style works and has been tested */
      </style>
</body>

</html>

