<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>

<body>
    <!-- set up headings, per markdown instructions -->
    <h1>At foo bar</h1>
    <h2>Food Name: <%=foodItem.name%>
    </h2>
    <!-- used squids to print the drink image then used standard html/js to add the .jpeg -->
    <!-- we dont need jpeg for food, already there -->
    <!-- images load correctly -->
    <img src="<%=foodItem.image%>">
    <h3>Price: $ <%=foodItem.price%></h3>
    <a href="/drinks">Back</a>
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }

        /* adding list transform text to capitalize drink names. shoutout to ryan and help channel */
        h2 {
            text-transform: capitalize;
        }
        

        /* style works and has been tested */
    </style>
</body>

</html>